/*Página Inicial antes do usuário logar*/
/*Header*/
#x1 {
     height: 165px;
     width: auto;}

#x2 {height:20px;
     width:20px}
.shadowp-3mb-5bg-body-tertiaryrounded {height:250px;
     width:1900px}

a {font-family: 'Noto Serif Ahom',serif}

.bodyHome {background-image: url(Background.png);
      background-repeat: no-repeat;
      background-size: 2000px 1000px;

      
}
.cardtext-bg-primarymb-3 {
  width: 18rem;
  background-color: aliceblue;
}

hr{
     min-width: 20%;
     max-width: 50%;
}


/*Quem somos*/


.quicksand-regular {
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: bold;
     color:#ddcd8b;
     text-shadow:  1px 1px #d4a64f;
     text-align: center;
   }
.quicksand-regular2 {
     font-family: "Quicksand", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
     color:aliceblue;
     margin: auto;
     text-align: center

   }

  /*Div de como usar*/ 

#divFoto {background-color: #d4a64f;
          }

/*imagem flutuante da biblioteca*/
#x11 {float:right;
      height: 25%;
      width: 25%;
      border: 3px double;
      border-radius: 80%; 
      border-color: #57245b;  }

/*para alinhar o texto à esquerda*/
/*Texto na primeira div (quem somos e o que o site pode fornecer)*/
#x10 {text-align: justify;
      }
/*Texto dos tópicos*/
#x12 {text-align: justify;
     font-size: 22px
      }
/*Texto da segunda div (como usar)*/
#x13 {color: #875396;
      text-shadow: 1px 1px #471b53;
      text-align: justify;}
/*Fim de "para alinhar o texto á esquerda*/
/*Div a ser mostrada quando apertar no link de entrar*/
#x7 {min-height: 600px;
     min-width: 500px;
     max-height: 500px;
     max-width: 400px;
     background-color:#57245b;
     margin: auto;
     text-align: center;
     border-radius: 25px;
     display: none;
     }
   

#Entrar {padding-right: 30px;
        }
/*Página de se inscrever*/
/*body*/

.bodyInsc {background-color: #57245b;}

.Insc {margin:auto;
text-align:center ;} 


/*B0tão para se inscrever com x*/
#x3{margin-left: 10px;
     }

/*B0tão para se inscrever com x*/

#x4 {margin-left: 10px;
}

/*Página home*/
.linhaHome {width: 40%;}

     /*Parte do catálogo de livros da página home*/
     #x6 {
          height: 40%;
          width: 20%
     }
     #divLivros {background-color: #a28fa7;}

/*Configuração carrossel imagem*/
.bodyRoxo{ background-color: #875396;}

/*Página de um livro específica que foi clicado no home*/

#x14 {height: 30%;
     width: 25%;}

     /*Parte de comentários do livro em específico*/
.nome {font-size: 22px;
       font-family: 'quicksand', sans-serif;
       font-style: bold;
       color: aliceblue;
}

.post-comment .list{
     background-color: #471b53;
     border-radius: 15px;
     box-shadow: 0 2px 2px #100613
}

.comment-box .user .image img{
     height:20%;
     width:20%;
     border-radius: 50%
}
.comment-box textarea {
     background-color: #f3e0f8;
     border-radius: 15px;
     box-shadow: 0 2px 2px #100613
}

.image {width: 250px;
     height: 250px}

textarea {border-radius: 25px;}


